doctype html
html(lang='en')
    head
        title BC Small Engine Repair - Home
        link(rel='stylesheet', href='../css/home.css')
    body
        h1 BC Small Engine Repair
        p Click the link below to register:
        a(href="/api/users/register") Register
        p Already have an account?
        a(href="/api/users/login") Login
